.container { 
    display: flex;
    width: 100%; 
    min-height: 100vh; 
    background: #f5f6fa; 
    padding: 0px; 
} 
.main { flex: 1; padding: 30px; } 
/* HEADER chung */ 
.header h2 { font-size: 22px; font-weight: 600; } 
.header p { font-size: 14px; margin-top: 4px; color: #777; } 
/* ===================== SIDEBAR ===================== */ 

.sidebar { width: 290px; background-color: #0b1437; color: #fff; padding: 20px; } 
.logo { display: flex; align-items: center; margin-bottom: 40px; } 
.logoIcon { 
    background: white; 
    color: black; 
    padding: 10px; 
    border-radius: 10px; 
    margin-right: 10px; } 
.logo h2 { font-size: 18px; } 
.logo p { font-size: 12px; color: #bbb; } 
.menu { list-style: none; } 
.menu li { 
    list-style: none;
    margin-bottom: 10px; 
    cursor: pointer; 
    display: block;
    color: #c3c6d1; 
}
.menu li a {
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu li:hover a, .menu li.active a {
    background-color: #1c2757;
    color: white;
}
/* ===================== DASHBOARD STATS CARD ===================== */ 
.stats{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 20px; 
    margin-top: 20px;
    margin-bottom: 10px; 
}
.card { 
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
} 
.info h3 { 
    font-size: 15px; 
    color: #666; 
} 
.number { 
    font-size: 26px; 
    font-weight: 700; 
}

.cardIcon { 
    font-size: 20px; 
    padding: 12px; 
    border-radius: 10px; 
} 
.purple { 
    background: #ede9fe; 
    color: #6b21a8; 
} 
.green { 
    background: #dcfce7; 
    color: #16a34a; 
} 
.pink { 
    background: #f5d0fe; 
    color: #a21caf; 
} 
/* ===================== SALES PROGRESS ===================== */ 
.orderStatus { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 20px; 
    margin-top: 20px; 
}
.statusCard { 
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
} 
.progress { 
    height: 6px; 
    width: 100px; 
    border-radius: 5px; 
    margin: 8px 0; 
    background: #e5e7eb; 
    position: relative; 
} 
.progress::after { 
    content: ""; 
    position: absolute; 
    height: 100%; 
    border-radius: 5px; 
    width: var(--percent); 
} 
.progress.purple::after { background: #8b5cf6; }
.progress.green::after  { background: #22c55e; }
.progress.red::after    { background: #ef4444; }

/* ===================== BEST SELLERS ===================== */ 
.bestsellers { 
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
} 
.bestsellers ul { 
    list-style: none; 
    margin-top: 10px; 
} 
.bestsellers li { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 0; 
    border-bottom: 1px solid #eee; 
} 
.productName { 
    font-weight: 600; 
} 
.price { 
    font-weight: 700; 
} 
/* ===================== REVENUE ===================== */ 
.revenue { 
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
} 
.amount { 
    font-size: 28px; 
    font-weight: 700; 
    margin: 10px 0; 
} 
.up { 
    color: #16a34a; 
    font-size: 14px; 
} 
.chartPlaceholder { 
    background: #f0f0f0; 
    height: 200px; 
    border-radius: 10px; 
    margin-top: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #999; 
} 
/* ===================== PRODUCT MANAGEMENT ===================== */ 
.filter { 
    margin-bottom: 15px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    
} 
.customRange { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
} 
.customRange input { 
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
} 
.box { 
    margin-top: 20px; 
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); 
} 
.boxHeader { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.search { 
    padding: 8px 12px; 
    border: 1px solid #ddd; 
    border-radius: 6px; 
    margin-right: 10px; 
} 
.addBtn {
    padding: 10px 14px; 
    background: #4b6bfb; 
    border-radius: 6px; 
    color: white; 
    border: none; 
    cursor: pointer; 
} 
.table { 
    width: 100%; 
    margin-top: 20px; 
    border-collapse: collapse; 
} 
.table th { 
    text-align: left; 
    padding: 12px; 
    color: #777; 
    font-size: 14px; 
} 
.table td { 
    padding: 14px 12px; 
    font-size: 15px; 
    border-top: 1px solid #eee; 
} 
.thumb { 
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
    border-radius: 6px; 
    vertical-align: middle; 
} 
.tag { 
    padding: 4px 10px; 
    border-radius: 6px; 
    font-size: 12px; 
} 
.luxury { 
    background: #e9e6ff; 
} 
.sport {
     background: #e3f3ff;
} 
.classic { 
    background: #f5f5f5; 
} 
.smart {
     background: #e7ffe1; 
} 
.vintage { 
    background: #ffe8e3; 
} 
.status { 
    padding: 5px 12px; 
    border-radius: 20px; 
    color: white; 
    font-size: 12px; 
} 
.in { 
    background: #28c76f; 
} 
.low { background: #ff9f43; } 
.out { background: #ea5455; } 
.actions span { 
    margin-right: 12px; 
    cursor: pointer; 
    font-size: 16px; 
} 
.edit { color: #3b82f6; } 
.delete { color: #e74c3c; } 
.view { color: black; } 
/* ===================== RECENT ORDERS ===================== */ 
.recentOrders { 
    background: #fff; 
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 30px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
} 
table { 
    width: 100%; 
    border-collapse: collapse; 
} 
thead { 
    background: #f1f5f9; 
    color: #374151; 
} 
th, td { text-align: left; padding: 12px; } 
tbody tr { border-bottom: 1px solid #eee; } 
.processing { background: #6366f1; } 
.delivered { background: #22c55e; } 
.canceled { background: #ef4444; }
.mainContent {
    flex: 1;
    padding: 30px;
}