.container {
  width: 100%;
  background: #f5f6fa;
  display: flex;
  min-height: 100vh;
  padding: 0px; 
}
.main {
  flex: 1;
  padding: 30px;
}
.header h2 {
  font-size: 22px;
  font-weight: 600;
}

.header p {
  font-size: 14px;
  margin-top: 4px;
  color: #777;
}

.box {
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 10px;
}

.addBtn {
  padding: 10px 14px;
  background: #4b6bfb;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 12px;
  color: #777;
  font-size: 14px;
}

.table td {
  padding: 14px 12px;
  font-size: 15px;
  border-top: 1px solid #eee;
}

.thumb {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 6px;
  vertical-align: middle;
  object-fit: cover;
}

.tag {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.luxury { background: #e9e6ff; }
.sport { background: #e3f3ff; }
.classic { background: #f5f5f5; }
.smart { background: #e7ffe1; }
.vintage { background: #ffe8e3; }

.status {
  padding: 5px 12px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.in { background: #28c76f; }
.low { background: #ff9f43; }
.out { background: #ea5455; }

.actions span {
  margin-right: 12px;
  cursor: pointer;
  font-size: 16px;
}

.edit { color: #959595; }
.delete { color: #959595; }
.view { color: #959595; }
.edit:hover { 
  color: #3b82f6; 
}
.delete:hover { color: #e74c3c; }
.view:hover { color: black; }