.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.info h3 { font-size: 15px; color: #666; }
.number { font-size: 26px; font-weight: 700; }

.icon {
  font-size: 20px;
  padding: 12px;
  border-radius: 10px;
}

.purple { background: #ede9fe; color: #6b21a8; }
.green { background: #dcfce7; color: #16a34a; }
.pink   { background: #f5d0fe; color: #a21caf; }
